[submodule "submodules/valgrind"]
	path = submodules/valgrind
	url = git://sourceware.org/git/valgrind.git
[submodule "submodules/Criterion"]
	path = submodules/Criterion
	url = https://github.com/Snaipe/Criterion
[submodule "submodules/glib"]
	path = submodules/glib
	url = https://github.com/GNOME/glib.git
